@model Sprint.Filter.IFilterView
@{
    Layout = null;
    ViewData["ConditionKey"] = Model.ConditionKey;
}
<dl>
    <dt>
        <label>@Model.Title</label>
    </dt>
    <dd>
        @Html.DropDownListFor(x=>x.ConditionKey,Model.GetConditions(),new{@class="input-medium"})
    </dd>
    <dd>
        @Html.TextBoxFor(x=>x.LeftValue,Model.ValueFormat,new {@class="input-small"})
        &nbsp;&nbsp;
        @Html.TextBoxFor(x=>x.RightValue,Model.ValueFormat,new {@class="input-small"})
    </dd>    
    @Html.HiddenFor(x=>x.TypeName)
</dl>