@model Sprint.Filter.Examples.Models.GridSettingView
<div class="contenthead">
    <h4>Table settings:</h4>
</div>

@{Html.EnableClientValidation(); }
@using (Html.BeginForm(null,null,FormMethod.Post,new{data_grid_setting=Model.GridKey}))
{    
    @Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(true)
    <div class="formbody">
        <div class="item1">
            <ul class="columnorder">
                @foreach (var column in Model.Columns.Where(x=>!string.IsNullOrWhiteSpace(x.Value.Title)))
                {
                    <li>
                        <label>
                            @Html.CheckBox(column.Key,column.Value.IsVisible)
                            @column.Value.Title
                        </label>
                    </li>
                }
            </ul>
        </div>
        <div class="item2">
            <div class="indent10">
                <h4>
                    Setting the visibility of columns
                </h4>
                <p class="details">
                    To remove a column from the table, clear the check box next to its name.
                </p>
                <p class="details">
                   To change the order of columns in a table, drag them with the mouse.
                </p>
            </div>
            <div class="indent10">
                <span>Page size:</span>
                @Html.TextBoxFor(x=>x.PageSize,new{@class="text",style="width:70px;"})
                @Html.ValidationMessageFor(x=>x.PageSize)                
            </div>
        </div>
    </div>
    <div class="form-modal-bottom"></div>
    <div class="button-wraper">
        <button type="submit" class="btn btn-primary">Save</button>
        <a data-dismiss="modalbox" class="btn" href="javascript:;;">Close</a>
    </div>       
}