<div class="contenthead">
    <h2>@(Model.ToString())</h2>
</div>

@{Html.EnableClientValidation(); }
@using (Html.BeginForm())
{    
    @Html.AntiForgeryToken()
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.ValidationSummary(true)
    <div class="formbody">
        @Html.EditorForModel()
    </div>
    <div class="form-modal-bottom"></div>
    <div class="button-wraper">
        <button type="submit" class="highlight-btn"><span>Сохранить</span></button>
        <p class="standard-btn"><a data-dismiss="modalbox" href="javascript:;;">Закрыть</a></p>
    </div>    
}